<h1>Welcome, look for things to do in Singapore</h1>

<p>5 rows x 2 columns grid for this</p>
<p>Accomodation || Attractions || Bars & Clubs || Cruises || Events || F&B || Malls & Shops || Tours || Venues || Walking Trails</p>

<a [routerLink]="['/accomodation']">Accomodation</a>
<hr>
<a [routerLink]="['/attractions']">Attractions</a>
<hr>
<a [routerLink]="['/nightlife']">Bars & Clubs</a>
<hr>
<a [routerLink]="['/cruises']">Cruises</a>
<hr>
<a [routerLink]="['/events']">Events</a>
<hr>
<a [routerLink]="['/fb']">Food & Beverages</a>
<hr>
<a [routerLink]="['/shoppingmall']">Malls & Shops</a>
<hr>
<a [routerLink]="['/tours']">Tours</a>
<hr>
<a [routerLink]="['/venues']">Venues</a>
<hr>
<a [routerLink]="['/trails']">Walking Trails</a>